* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  /* color: #087f5b; */
  font-weight: 500;
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  stroke: #087f5b;
}

.box-hidden {
  grid-column: 2;
  display: none;
}

.box-hidden p {
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 24px;
}

.box-hidden ul {
  margin-left: 20px;
  font-size: 18px;
  color: #868e96;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .box-hidden {
  display: block;
}

.open .text,
.open .number {
  color: #087f5b;
}
